# Dataset — too large for GitHub
data/

# Model checkpoints
experiments/
*.pth
*.pt

# Python
__pycache__/
*.pyc
*.pyo
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
detection/german_dataset/
detection/backgrounds/
